# CODEOWNERS file
#
# It allows us to define individuals or teams that are responsible for code in the repository.
#
# Syntax:
# pattern owner1 owner2
#
# The pattern is a glob pattern relative to the root of the repository.
# Owners can be:
# - A GitHub username (e.g., @octocat)
# - An organization team (e.g., @org/team-name)
# - An email address (e.g., octocat@github.com)

# Default ownership (is overriden by specfic rules below)
* @dmandar @gspencer @jacobsimionato

# Agents
/a2a_agents/ @nan-yu @dmandar

# Documentation
/docs/ @zeroasterisk @dmandar @gspencer @jacobsimionato

# Renderers
/renderers/angular/ @ditman @ava-cassiopeia  @crisbeto
/renderers/lit/ @ditman @ava-cassiopeia @paullewis
/renderers/web_core/ @ditman @ava-cassiopeia

# Samples
/samples/ @dmandar @zeroasterisk

# Specifications
/specification/ @gspencergoog @jacobsimionato

# Tools
/tools/ @dmandar @jacobsimionato @paullewis
